body {
  /* max-width: 1080px; */
  max-width: 100%;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

/* .pageHeader {
  background-color: white;
 display: flex; 
 flex-direction: row;
 min-height: 100vh;
  flex-direction: column; 
  justify-content: left;
  align-items: center; 
  font-size: calc(10px + 2vmin);
  width: 70%;
  color: white;
}  
*/


/* .headerImage {
  display: flex;
  width: 20%;
  height: 20%;
} */

.App-link {
  color: #61dafb;
}

 .NavBar {
  /* justify-content: center; */
 background-color: white;
} 

ui pointing secondary stackable menu {

}
/* .profilePageBody {
  display: flex;
  width: 100%;
  border: 1px red solid
} */

/* .profilePageDiv {
  background-color: #ACC9AC;
} */


.formDiv {
  display: flex;
  flex-direction: column;
  height: 50%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%; 
  border: 2px groove #5B5F50;
} 