body {
  /* max-width: 1080px; */
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway';
  padding: 2%;
}

.App {
  text-align: center;
}

/* .pageHeader {
  background-color: white;
 display: flex; 
 flex-direction: row;
 min-height: 100vh;
  flex-direction: column; 
  justify-content: left;
  align-items: center; 
  font-size: calc(10px + 2vmin);
  width: 70%;
  color: white;
}  
*/
.App-link {
  color: #61dafb;
}

.formDiv {
  width: 40%; 
  border:  9px solid rgb(131, 137, 114);
  border-radius: 20px;
  padding: 1%; 
  /* background-color: #ACC9AC; */
}

.userImage {
  margin: auto;
  object-fit: contain;
  border: 1px solid;
}

.pageDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2%;
}

.userCard {
  margin-left: -25%;
  margin-right: 5%;
  width: 30%;
  height: 10%;
  /* background-color: #ACC9AC; */
  border:  9px solid rgb(131, 137, 114);
  border-radius: 20px;
  padding: 1%;
} 

.formDiv {
  display: flex;
  flex-direction: column;
  width: 40%; 
  border:  9px solid rgb(131, 137, 114);
  border-radius: 20px;
  padding: 1%; 
  /* background-color: #ACC9AC; */
} 

.thumbnail {
  width: 220px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.deleteAccountDiv {
display: flex;
align-self: center;
align-items: center;
  padding: 20px;
  width: 20%;

}

.fonts {
  color: gray;
  text-align: center;

}

.flower-card {
  color: gray;
  text-align: center;
}
